<!DOCTYPE html>
<html lang="{{ site.lang | default: 'pt-BR' }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>

    {% endif %}


    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <h1 class="project-name">Serve dois</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <br>
      <a style="color: white" href="{{ site.url }}">Home</a>
      <!-- {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %} 
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

   
    -->
    </header>

    <main id="content" class="main-content" role="main">
      {% if page.receita %}
        <h2>{{ page.title }}</h2>
        {% if page.tags %}
          <span>tags:
            {% for tag in page.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a href="../tag/{{ tag_name }}">{{ tag_name }}</a>
            {% endfor %}
          </span>
        {% endif %}
        <br><br>
        <img src="../assets/images/receitas/{{ page.folder }}.jpg" width="400" height="600">

        {{ content }}

      {% endif %}

      {% if page.sumario %}
        {% for item in site.data.listpages.toc %}
          <h3>{{ item.title }}</h3>
            <ul>
              {% for entry in item.subfolderitems %}
                <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
              {% endfor %}
            </ul>
        {% endfor %}
      {% endif %}

      {% if page.info %}
        {{ content }}
      {% endif %}

      {% if page.tagName %}
         <h2>Tag: {{ page.tagName }}</h2>
        {% for receita in site.pages %}
          {% for tag in receita.tags %}
            {% if tag == page.tagName %}
              <li>
                <a href="{{ receita.url | relative_url }}">{{receita.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}

        <h2> Todas tags: </h2>
        {% for tag in site.data.ltags.listtags %}
          <a href="../tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
      {% endif %}   

      {% if page.comments == true %}
        {% include comments.html %}
      {% endif %}         

      <footer class="site-footer">
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>